@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Heebo:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Heebo:wght@100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


.hide {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input {
    font-family: 'IBM Plex Mono', monospace;
}

*, *::before, *::after {
    box-sizing: border-box !important;
}


body {
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}

.main-content {
    display: flex;
    height: 100%;
}

.side-menu {
    flex: 0 0 80px;
    top: 0;
    height: 100vh;
    position: sticky;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0; /* Граница справа */
}

.side-menu__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu-item {
    margin-bottom: clamp(10px,7vh, 10vh); /* Отступы между иконками */
    text-align: center; /* Центрируем иконки по горизонтали */
}

.side-menu-link {
    padding: clamp(4px,7px,10px);
    cursor: pointer;
}

.side-menu-icon {
    width: 20px; /* Размер иконок */
    height: 20px;
    opacity: 0.7;
    transition: all 0.2s;
    cursor: pointer;
}

.side-menu-link:hover .side-menu-icon {
    opacity: 1; /* Иконка становится ярче при наведении */
    transform: scale(1.1);
}

.side-menu-link.active .side-menu-icon {
    opacity: 1;
    transform: scale(1.1);
}

/* ---------------------- CHATS ------------------------*/

.chats-section {
    height: 100vh;
    width: 100%;
    display: flex;
}

.chats-container {
    flex: 0 0 460px;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
    overflow-y: auto;
}

.search-container {
    padding: 5px 10px;
    margin-bottom: 8px;
}

.search-input {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #e0e0e0;
}

.chat-item {
    width: 100%;
    padding: 10px;

    display: flex;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #f5f5f5;
}

.chat-item.active {
    background-color: rgba(214, 233, 250, 1);
}

.chat-content {
    flex: 1;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chat-name {
    font-weight: 500;
    font-size: 0.95rem;
    color: black;
}

.chat-time {
    font-size: 0.8rem;
    color: #888;
}

.chat-preview {
    display: flex;
    align-items: flex-end;
}

.last-message {
    color: #666;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex: 1;
    min-width: 0;
}

/* ------------ SKELETON CHATS ----------------*/

/* Стили для скелетона */
#search-skeleton-container {
    display: flex;
    flex-direction: column;
}

.search-skeleton {
    display: flex;
    padding: 10px;
    border-radius: 8px;
}

.search-skeleton-avatar {
    width: 50px;
    height: 50px;
    margin-inline: 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: search-shimmer 2s ease-in-out infinite;
}

.search-skeleton-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skeleton-line {
    height: 12px;
    border-radius: 4px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: search-shimmer 2s ease-in-out infinite;
}

@keyframes search-shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}


/* ----------------- DIALOG -------------------------*/

.dialog-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}
.dialog-header {
    padding: 5px 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
}

.dialog-partner {
    display: flex;
    align-items: center;
}


.dialog-avatar-container {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.dialog-avatar-container .avatar-initials {
    font-size : 20px;
    font-weight : 500;
}


.dialog-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.dialog-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.dialog-input-container {
    padding: 15px 20px;
    border-top: 1px solid #e0e0e0;
    background-color: white;
    display: flex;
    align-items: center;
}

.dialog-input {
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    margin-right: 10px;
    font-family: 'IBM Plex Mono', monospace;
}

.send-button {
    padding: 12px 20px;
    background-color: #0E6AC7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #0a56a5;
}

/* -------------------------- EMPTY STATE ----------------*/

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    height: 70vh; /* Чтобы занимал большую часть экрана */
}

.empty-state-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    opacity: 0.6;
}

.empty-state-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.empty-state-description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.empty-state-button {
    padding: 10px 20px;
    background-color: #0E6AC7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.empty-state-button:hover {
    background-color: #0a56a5;
}

/* -------------------- PROFILE SKELETON SECTION ------------------- */
/* Skeleton Loader Styles */
.profile-skeleton {
    position: relative;
    overflow: hidden;
    background-color: #e0e0e0;
    border-radius: 4px;
}

.profile-skeleton-info-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
    position: relative;
}

.profile-skeleton-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 100%);
    animation: shimmer 1.2s infinite;
    transform: translateX(-100%);
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

/* Skeleton specific elements */
.profile-skeleton-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.profile-skeleton-title {
    width: 200px;
    height: 24px;
    margin: 0 auto 8px;
}

.profile-skeleton-subtitle {
    width: 100px;
    height: 16px;
    margin: 0 auto 20px;
}

.profile-skeleton-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.profile-skeleton-row {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.profile-skeleton-row-short {
    width: 70%;
}

.profile-skeleton-row-medium {
    width: 85%;
}


/* --------------------------- PROFILE SECTION -------------------- */

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #f7f7f7;
    overflow-y: auto;
}

.profile-container {
    background: white;
    max-width: 500px;
    height: 80vh;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.profile-header {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 21px;
    position:relative;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.profile-avatar {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
}

.chat-avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.avatar-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;       /* Важно! Масштабирует изображение */
}

.avatar-initials {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}

.profile-avatar .avatar-initials {
    font-weight: 600;
    font-size: 40px;
}

.chat-avatar .avatar-initials {
    font-weight: 500;
    font-size: 20px;
}

.status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white;
}

.status-indicator.online {
    background-color: #4CAF50; /* Зеленый цвет для онлайн */
}

/* Для оффлайн просто не показываем индикатор */
.status-indicator.offline {
    display: none;
}

.avatar-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar-upload-btn {
    position: absolute;
    right: 6px;
    bottom: 4px;
    width: 32px;
    height: 32px;
    background: #2AA4F4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.avatar-upload-btn label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.avatar-upload-btn:hover {
    background: #1E90FF;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e0e0e0;
}

.avatar-status {
    position: absolute;
    bottom: 4px;
    right: 25px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
}

.avatar-status.online {
    background-color: #4caf50;
}
.avatar-status.offline {
    background-color: #A9A9A9  ;
}

.profile-full-name {
    font-size: 1.15rem;
    margin-bottom: 2px;
    color: #333;
}

.profile-errors {
    padding: 12px 16px;
    margin: 12px 20px;
    border-radius: 8px;
    background-color: #FFF0F0;
    border: 1px solid #FFD6D6;
    color: #FF3B3B;
    font-size: 14px;
    line-height: 1.4;
    transition: all 0.3s ease;
}

.profile-errors.hidden {
    opacity: 0;
}

.profile-success {
    padding: 12px 16px;
    margin: 12px 20px;
    border-radius: 8px;
    background-color: #f0fff4;
    border: 1px solid #c6f6d5;
    color: #38a169;
    font-size: 14px;
    line-height: 1.4;
    transition: all 0.3s ease;
}

.profile-loading {
    display: flex;
    justify-content: center;
}

.profile-status {
    font-size: 0.75rem;
}
.profile-status.online {
    color: #0088cc;
}
.profile-status.offline {
    color: #999   ;
}

.description-section {
    padding-inline: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.hint {
    font-size: 0.9rem;
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.description-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    font-size: 0.8rem;
}
.description-input:focus {
    outline: none;
    border-color: #0088cc;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #f5f5f5;
    align-items: center;
    position: relative;
}

.info-row:hover {
    /*background-color: #f9f9f9;*/
    /*background-color: #e6f0fb;*/
    background-color: rgba(214, 233, 250, 0.5);
    /*    убрать чуть прозрачности*/
}

.info-label {
    font-size: 0.8rem;
    flex: 0 1 150px;
    color: #444;
}

.info-value {
    font-size: 0.9rem;
    color: #333;
    text-align: right;
}

.info-row:last-child {
    margin-bottom: 15px;
}

.information-section .hint {
    margin-top: 15px;
    padding-inline: 20px;
}

.info-edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.15s;
}

/* Состояние disabled для инпутов */
.info-edit:disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
    opacity: 1;
}

.info-row:hover .info-edit-btn {
    opacity: 1;
}

.info-edit {
    padding: 7px 10px;
    border: 1px solid #e0e0e0;
    /*border: none;*/
    border-radius: 15px;
    font-size: 0.9rem;
}
.info-edit:focus {
    outline: none;
    border-color: #0088cc;
}

